#[ MACOS FILES ]
.DS_Store

#[ PYTHON ]
*.pyc

#[ VIRTUAL ENVIRONMENT ]
venv

#[ DJANGO ]
*.log

#[ DATABASE ]
db.sqlite3
cassandra/logs
cassandra/data

#temp
cassandra/apache-cassandra-3.10/logs
cassandra/apache-cassandra-3.10/data

#[ MISC ]
*.swp
.idea/
