<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Project: Mappiness</h1>
			<p>A big-data app that shows you where people are happy :)</p>
		</div>
		<div class="row">
			<div id="map" style="height: 300px">
				
			</div>
		</div>
	</div>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnn4nBX30_RSHGOSeVXRDYUnx5fj03k3A"></script>

	<script>
		function initMap() {
			var map;
			var boulder = {lat: 40.007660, lng: -105.269868};

			map = new google.maps.Map(document.getElementById('map'), {
				center: boulder,
				zoom: 17
			});

			var marker = new google.maps.Marker({
				position: boulder,
				map: map,
				title: 'Hello World!'
			});
		}

		initMap();
	</script>
</body>
</html>