<!DOCTYPE html>
<html style="width:100%; height:100%;">
<head>
	<title>All Tweets</title>
</head>
<body style="width:100%; height:100%; position:relative;">

	{# <h3>The first tweet</h3> #}
	{# <p>{{ first_tweet.status }}</p> #}

	<div style="background:#efefef; padding:20px; width:500px; display:inline-block; margin:auto; position:absolute; left:0; right:0;">
		{% for tweet in tweets_from_date %}
			<div style="background:#fff; padding:5px; margin:15px; color:#343434; border: 1px solid #1da1f2; list-style:none; border-radius:3px;">
				<div style="display:inline-block;">
					<h3 style="margin:0;">@{{ tweet.author_user_name }}</h3>
					<img style="border-radius:25px;" src="{{ tweet.author_image }}" alt="{{ tweet.author_user_name }}" title="{{ tweet.author_user_name }}">
				</div>
				<div style="display:inline-block;">
					{{ tweet.status }}
				</div>
			</div>
		{% endfor %}
	</div>

</body>
</html>